body {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
  background-color: #ddebf8;
  color: #2b2839;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  border-bottom: 5px solid #d8cefe;
}
.mainImg {
  height: auto;
  width: 150px;
}
/*.border {
  border: 1px dotted blue;
}
